body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  padding: 0;
}

.body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #000;
  color: #fff;
  padding: 0;
  margin: 0px;
  width: 100%;
}
body.a:visited {
  color: #c7b8ff
}
.back-to-map {
  display: block;
  font-size: 17px;
  color: #fff;
  margin: 0;
  width: 100%;
}

.page-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.campus-image {
  background: url(../satellite_map.png) no-repeat 0 0;
  width: 897px;
  height: 402px;

  margin-left: auto;
  margin-right: auto;
    margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.campus-image a:hover {
  background-color: rgba(251, 255, 174, .5);
  border-radius: 40px;
}

#OS {
  font-size: 18px;
  color: white;
  position: absolute;
  left: 52.5%;
   top: 67.4%;
   width: 16.28%;
   height: 25.37%;
   z-index: 2;
}

#DO {
  color: white; font-size: 18px; position: absolute; left: 77.4%; top: 38.31%; width: 20.07%; height: 28.61%; z-index: 2;
}
#BR{
  font-size: 18px; color:white; position: absolute; left: 18.5%; top: 17.31%; width: 10.07%; height: 28.61%; z-index: 2;
}

#CH {
  font-size: 18px; color: white; position: absolute; left: 66.1%; top: 43.02%; width: 12.07%; height: 28.61%; z-index: 2;
}

#CI {
  font-size: 18px; color: white; position: absolute; left: 44.2%; top: 65.25%; width: 12.07%; height: 28.61%; z-index: 2;
}

#DL{
  font-size: 18px; color: white; position: absolute; left: -.3%; top: 30%; width: 12.07%; height: 28.61%; z-index: 2;
}

#FA {
  font-size: 18px; color: white; position: absolute; left: 59.70%; top: 0.02%; width: 12.07%; height: 28.61%; z-index: 2;
}

#LH {
  font-size: 18px; color: white; position: absolute; left: 37.95%; top: 39.31%; width: 10.07%; height: 28.61%; z-index: 2;
}

#MO {
  font-size: 18px; color: white; position: absolute; left: 26%; top: 39.31%; width: 10.07%; height: 28.61%; z-index: 2;
}

.centerlet {
  position: absolute;
  left: 49%;
  top: 40%;
}

.posfix{
  width: 100%;
  height: 100%;
  position: relative;
}

.floorplan-config-selecton {
  text-align: center;
  margin-bottom: 5px;
}

.label {
  margin-left: 40px;
  margin-right: 10px;
  font-size: 1.4em;
}

.floorplan{
  margin-top: 10px;
  width: 100%;
  height: 1000px;
}

.sub-title {
  font-size: 17px;
  text-align: center;
  color: #fff;
}

.footnote {
  font-size: 16px;
  text-align: center;
  color: #fff;
  align-items: center;
  justify-content: center
}



.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-decoration: none;
    font-size: 15px;
    color: #000;
}
